@import "tailwindcss";

@import "./theme.css";
@import "./animations.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  background: var(--color-background);
  color: var(--color-text-primary);
  font-family: Inter, sans-serif;
}
